---
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <Section>
    <div class="space-y-2">
      <h1>About Us</h1>
      <p>
        Welcome to our website! We are a team of passionate developers dedicated
        to creating innovative and user-friendly solutions.
      </p>
    </div>
  </Section>
</PageLayout>
