---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="w-full h-full flex flex-col items-center justify-center gap-2">
      <h1>About Us</h1>
      <p>
        Welcome to our website! We are a team of passionate developers dedicated
        to creating innovative and user-friendly solutions.
      </p>
    </div>
</BaseLayout>
