---
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Welcome to Astro" className="flex flex-col">
  <Section>
    <div class="space-y-2">
      <h1>Welcome to Our Website</h1>
      <p>This is a sample home page for Astro.</p>
      <button>Get Started</button>
    </div>
  </Section>
</PageLayout>
