---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Introduction from "../components/Introduction.astro";
import TagVisualizer from "../components/TagVisualizer.astro";
---

<DefaultLayout>
  <div class="flex flex-col gap-4">
    <Introduction />
    <TagVisualizer />
  </div>
</DefaultLayout>
