---
import classNames from "classnames";
import { SPACING } from "../constants/classes";
import PageLogo from "../react/components/PageLogo";
---

<footer
  class={classNames("flex text-2xs", SPACING.PAGE.PADDING.X, SPACING.PAGE.PADDING.Y)}
>
  <div class="flex-1">
    <PageLogo className="text-2xs" client:only="react" />
  </div>
  <div>Powered by</div>
</footer>
