---
import allSocialNetworksQuery from "../lib/requests/allSocialNetworks";

const socials = await allSocialNetworksQuery;
---

<footer
  class="fixed bottom-0 left-0 w-full h-12 px-4 flex justify-between items-center"
>
  <div />

  <nav>
    <ul class="space-x-2 text-xs">
      {
        socials.allSocialNetworks.edges.map(({ node }) => (
          <li class="inline-block">
            <a
              href={node.connectionUrl}
              target="_blank"
              rel="noopener noreferrer"
              class="text-gruvbox-fg1 hover:text-gruvbox-fg0 transition-colors"
            >
              <i class={node.fontAwesomeIcon} />
              <span class="sr-only">{node.label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
