---
import Logo from "./Logo.astro";
import NavigationMenu from "./NavigationMenu.astro";
import SocialNetworks from "./SocialNetworks.astro";
---

<footer class="bg-gruvbox-bg0 px-20 py-16">
  <div class="flex h-full gap-12">
    <div class="flex-grow max-w-md space-y-4">
      <div>
        <Logo className="text-4xl px-4 py-2" />
      </div>
      <div>
        <p>
          noactionjaxn is a personal blog about web development, programming,
          and other things.
        </p>
      </div>
    </div>
    <div class="flex-grow"></div>
    <div class="flex-grow max-w-sm">
      <h3 class="text-gruvbox-fg5 uppercase pb-4">Site Map</h3>
      <NavigationMenu
        containerClassName="hidden md:block"
        listClassName="space-y-4"
        linkClassName="text-xl font-medium"
        underLineClassName="!h-0.5 !-bottom-1.5"
      />
    </div>
    <div>
      <h3 class=" text-gruvbox-fg5 text-right uppercase pb-4">Socials</h3>
      <SocialNetworks listClassName="flex justify-end gap-3" />
    </div>
  </div>
  <div class="border border-b-0 border-gruvbox-fg3 h-1 mt-32 mb-4"></div>
  <div class="text-sm space-x-2">
    <span>{new Date().getFullYear()} | noactionjaxn.dev</span>
    <span class="text-gruvbox-fg5">Site by Jackson Hermitt</span>
  </div>
</footer>
