---
import allSocialNetworksQuery from "../lib/requests/allSocialNetworks";
import Logo from "./Logo.astro";
import Menu from "./Menu.astro";

const socialNetworks = await allSocialNetworksQuery;
---

<header class="flex justify-between h-auto px-16 pb-8 pt-16">
  <div class="h-full flex gap-2 flex-col">
    <div>
      <Logo />
    </div>

    <nav class="flex-grow">
      <ul class="block space-x-2 text-xs">
        {
          socialNetworks.allSocialNetworks.edges.map((edge) => (
            <li class="inline-block">
              <a href={edge.node.connectionUrl}>
                <i class={edge.node.fontAwesomeIcon} />
                <span class="sr-only">{edge.node.label}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div class="h-full">
    <Menu />
  </div>
</header>
