---
import allSocialNetworksQuery from "../lib/requests/allSocialNetworks";
import Logo from "./Logo.astro";
import NavigationMenu from "./NavigationMenu.astro";
import MenuButton from "./react/MenuButton";
import SocialNetworks from "./SocialNetworks.astro";

const socialNetworks = await allSocialNetworksQuery;
---

<header
  class="flex justify-between items-center fixed z-30 h-36 w-full px-20 py-16 bg-gruvbox-bg1 md:h-auto md:absolute md:items-start"
>
  <div class="flex gap-2 flex-col">
    <Logo />
    <SocialNetworks 
      containerClassName="hidden md:block"
      listClassName="flex gap-2"
      iconClassName="text-xs"
    />
  </div>

  <div class="h-full">
    <NavigationMenu
      containerClassName="hidden md:block"
      listClassName="grid grid-cols-2 gap-x-12 gap-y-2"
    />
    <MenuButton className="md:hidden" client:only="react" />
  </div>
</header>
