---
import { ENV } from "../constants/env";
import { ROUTES, TEMP_ROUTES } from "../constants/routes";
import Logo from "./react/Logo";

const Routes = import.meta.env.ENVIRONMENT === ENV.production ? TEMP_ROUTES : ROUTES;
---

<header class="fixed top-0 left-0 w-full z-50 flex items-center justify-between h-12 px-4">
  <div>
    <Logo className="text-sm" client:only="react" />
  </div>

  <nav>
    <ul class="space-x-2">
      {Object.entries(Routes).map(([_, route]) => (
        <li class="inline text-sm uppercase">
          <a href={route.path}>{route.label}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>
