---
import classNames from "classnames";
import MenuButton from "../react/components/MenuButton";
import ThemeToggle from "../react/components/ThemeToggle";
import PageLogo from "../react/components/PageLogo";
import { SPACING, COLORS } from "../constants/classes";

---

<header
  class={classNames(
    "sticky top-0 z-20",
    SPACING.PAGE.PADDING.X,
    SPACING.PAGE.PADDING.Y
  )}
>
  <div
    class={classNames(
      "flex flex-row items-center p-2 rounded-lg shadow",
      COLORS.HEADER.BACKGROUND
    )}
  >
    <div class="flex-1/3 flex gap-1">
      <MenuButton client:only="react" />
    </div>
    <div class="flex-1/3 flex justify-center">
      <PageLogo className="text-xs" client:only="react" />
    </div>
    <div class="flex-1/3 flex justify-end items-center gap-1">
      <ThemeToggle client:only="react" />
    </div>
  </div>
</header>
