---
type Props = {
  className?: string;
  title?: string;
  variant?: "primary" | "secondary" | "warning" | "danger" | "neutral";
  disabled?: boolean;
  href?: string;
};

const {
  className,
  href = "",
  title = "Button",
  variant = "primary",
  disabled = false,
} = Astro.props;
---

<a
  class:list={[
    "font-quicksand uppercase font-bold text-gruvbox-bg1 cursor-pointer px-4 py-2 rounded focus:outline-none no-underline",
    variant === "primary" &&
      "bg-gruvbox-blue hover:bg-gruvbox-blue-alt focus:ring-2 focus:ring-gruvbox-blue/50",
    variant === "secondary" &&
      "bg-gruvbox-green hover:bg-gruvbox-green-alt focus:ring-gruvbox-green/50",
    variant === "warning" &&
      "bg-gruvbox-yellow hover:bg-gruvbox-yellow-alt focus:ring-gruvbox-yellow/50",
    variant === "danger" &&
      "bg-gruvbox-red hover:bg-gruvbox-red-alt focus:ring-gruvbox-red/50",
    variant === "neutral" &&
      "bg-gruvbox-bg3 hover:bg-gruvbox-bg4 focus:ring-gruvbox-bg4/50",
    disabled && "bg-gruvbox-bg3 text-gruvbox-bg1 cursor-not-allowed",
    className,
  ]}
  href={href}
  title={title}
>
  <slot />
</a>
