---
import { ROUTES } from "../constants/routes";

interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<div
  class:list={[
    "w-min h-min bg-gruvbox-fg2 text-gruvbox-bg1 px-2 py-0.5 rounded",
    className,
  ]}
>
  <a class="lowercase font-bold" href={ROUTES.home.path}>noactionjaxn</a>
</div>
