---
import { ROUTES } from "../constants/routes";

interface Props {
  containerClassName?: string;
  listClassName?: string;
  linkClassName?: string;
  underLineClassName?: string;
}

const currentPath = Astro.url.pathname;

const {
  containerClassName = "",
  listClassName = "",
  linkClassName = "",
  underLineClassName = "",
} = Astro.props;
---

<nav class={containerClassName}>
  <ul class={listClassName}>
    {
      Object.values(ROUTES).map((route) => (
        <li>
          <a class:list={["relative inline-block group", linkClassName]} href={route.path}>
            <span>{route.label}</span>
            <span
              class:list={[
                "absolute left-0 -bottom-0.5 h-[1px] w-full bg-gruvbox-fg2 transition-transform duration-300 origin-left",
                route.path === currentPath
                  ? "scale-x-100"
                  : "scale-x-0 group-hover:scale-x-100",
                underLineClassName,
              ]}
            />
          </a>
        </li>
      ))
    }
  </ul>
</nav>
