---
import "../styles/global.css";
import Header from "../components/Header.astro";
import MobileMenu from "../components/react/MobileMenu";
import allSocialNetworksQuery from "../lib/requests/allSocialNetworks";

const { pageTitle } = Astro.props;
const socialNetworks = await allSocialNetworksQuery;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle ?? "NOACTIONJAXN.DEV"}</title>
    <script>
      import initTheme from "../lib/util/initTheme";
      initTheme();
    </script>
    <script
      src="https://kit.fontawesome.com/1aad4926f4.js"
      crossorigin="anonymous"
      is:inline></script>
  </head>
  <body>
    <Header />
    <main class="flex-grow px-16 pb-8 pt-36 md:pt-8">
      <slot />
    </main>

    <MobileMenu
      client:only="react"
      socialNetworks={socialNetworks.allSocialNetworks.edges}
    />
  </body>
</html>
