---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle ?? "NOACTIONJAXN.DEV"}</title>
  </head>
  <body>
    <main class="flex flex-col min-h-screen p-4 gap-4">
      <Header />
      <div class="flex-1">
        <slot />
      </div>
      <Footer />
    </main>
    <Menu />
    <script
      src="https://kit.fontawesome.com/1aad4926f4.js"
      crossorigin="anonymous"
      is:inline></script>
  </body>
</html>
