---
import "../styles/global.css";
import PageContainer from "../components/PageContainer.astro";
import PageFooter from "../components/PageFooter.astro";
import PageHeader from "../components/PageHeader.astro";

interface Props {
  title?: string;
  className?: string;
}

const { title = "noactionjaxn" } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import initTheme from "../lib/util/initTheme";
      initTheme();
    </script>
    <script
      src="https://kit.fontawesome.com/1aad4926f4.js"
      crossorigin="anonymous"
      is:inline></script>
  </head>
  <body>
    <PageHeader />
    <PageContainer>
      <slot />
    </PageContainer>
    <PageFooter />
  </body>
</html>
