---
import "../styles/global.css";
import Header from "../components/Header.astro";
import MobileMenu from "../components/react/MobileMenu";
import allSocialNetworksQuery from "../lib/requests/allSocialNetworks";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string;
  className?: string;
}

const { title = "noactionjaxn", className = "" } = Astro.props;

const socialNetworks = await allSocialNetworksQuery;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script>
      import initTheme from "../lib/util/initTheme";
      initTheme();
    </script>
    <script
      src="https://kit.fontawesome.com/1aad4926f4.js"
      crossorigin="anonymous"
      is:inline></script>
  </head>
  <body>
    <div class="flex flex-col w-screen min-h-screen">
      <Header />
      <main class:list={["flex-grow pt-54", className]}>
        <slot />
      </main>
      <Footer />
    </div>
    <MobileMenu
      client:only="react"
      socialNetworks={socialNetworks.allSocialNetworks.edges}
    />
  </body>
</html>
